# built artifact
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

*.test

# Go specific transient artifact
go.work
go.work.sum

# LLM stuff
apm_modules/

/.agents
/.claude
/.codex
/.github/instructions
/.github/skills

CLAUDE*.md
CODEX*.md

CLAUDE.md
AGENTS.md

*.env
